.header {
	padding: 0 0 10px 0;
}
.login__container {
	margin: auto;
	height: 100vh;
}
.login__form {
	padding: 2rem;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
		0 3px 6px rgba(0, 0, 0, 0.23);
	max-width: 50%;
}
.login__form,
.input__container {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.input__container {
	min-height: 8rem;
	padding: 1rem;
	margin-bottom: 1rem;
	max-width: 80%;
}
.input__container input::placeholder {
	font-size: x-small;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}

.login__form input {
	text-align: center;
	margin: 0.25rem 0;
	font-family: 'Roboto', sans-serif;
	border-radius: 4px;
	border-bottom: 2px #768fff solid;
}

.error__ {
	color: red;
}

.login__btn {
	margin: auto;
	padding: 4px;
	width: 80px;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	color: #2962ff;
	font-family: 'Roboto', sans-serif;
	font-size: x-small;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}
.login__btn:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.19),
		0 5px 5px rgba(0, 0, 0, 0.23);
}
a.signup-login {
	margin: 1rem;
	font-size: xx-small;
	color: rgba(0, 0, 0, 92%);
	font-weight: 500;
	letter-spacing: 1px;
}
