# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/frontend/node_modules
/backend/.pnp
/frontend/.pnp
/backend/.pnp.js
/frontend.pnp.js

# testing
/backend/coverage
/frontend/coverage

# production
/backend/build
/frontend/build

# Environment Variables
/backend/.env
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local

/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# misc
/backend/.DS_Store
/frontend/.DS_Store


# Logs
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/*.log

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/*.log

# VSCode
/.vscode
/*.code-workspace

#Vercel
/frontend/.vercel
