.landing__container {
	display: flex;
	flex-direction: column;
	max-width: 450px;
	margin: auto;
	padding: 1rem;
}
.landing__container h1 {
	color: #0039cb;
	letter-spacing: 1pt;
	font-weight: 500;
}

.landing__container button {
	margin: 1rem auto;
	padding: 4px;
	width: 80px;
	border: none;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: x-small;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;

	background-color: transparent;
	cursor: pointer;
}
.landing__container button:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
		0 3px 6px rgba(0, 0, 0, 0.23);
}

#start_btn:link,
#start_btn:visited,
#start_btn:hover,
#start_btn:active {
	color: #0039cb;
}
