.landing__container {
	display: flex;
	flex-direction: column;
	max-width: 450px;
	margin: auto;
	background-color: #445963;
}

#start_btn:link, #start_btn:visited, #start_btn:hover, #start_btn:active {
	color: black;
}
