.dashboard__header {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background-color: #1b3039;
}
.dashboard__header h1,
h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: white;
}
.dashboard__header div {
	color: hsl(0, 0%, 75%);
	font-family: 'Roboto', sans-serif;
}
.event__section {
	max-height: 300px;
	overflow-y: scroll;
	margin: 2rem 4rem;
	padding: 1rem;
}
.event__section::-webkit-scrollbar {
	display: none;
}
.event__section {
	-ms-overflow-style: none;
	scrollbar-width: none;
	max-width: 700px;
	margin: 4rem auto;
}
.event__list {
	padding: 0.5rem;
	margin: auto;
	max-width: 100%;
	list-style-type: none;
}

.event__item,
.event__item_expanded {
	display: flex;
	flex-direction: row;
	border: 0.1rem solid hsl(0, 0%, 80%);
	margin: 3px 0;
	background-color: #455a64;
}

.expanded__info {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 4px;
	font-size: smaller;
}

.info-bold {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 4px;
	font-weight: bold;
}

.info-details {
	font-family: 'Roboto', sans-serif;
}

.date__container {
	flex: 0.25;
	text-align: left;
}
.date__container h3 {
	font-family: 'Roboto', sans-serif;
	margin: 3px 0 0 3px;
	padding: 4px;
	font-size: x-small;
	letter-spacing: 0.2mm;
	color: hsl(0, 0%, 89%);
}
.info__container {
	flex: 1;
	text-align: left;
}
.info__container h5,
h6 {
	font-family: 'Roboto', sans-serif;
	padding: 4px;
	margin: 0;
}
.info__container h5 {
	font-family: 'Montserrat', sans-serif;
	color: hsl(0, 0%, 89%);
}
.info__container p {
	font-size: 12px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	color: black;
}

.info__button {
	display: flex;
}
.info__button button {
	background-color: #ff9800;
	border: 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 500;
	/* border-radius: 50%; */
	height: 40px;
	align-self: center;
	/* margin: 0 2px; */
}
.info__button button:hover {
	cursor: pointer;
	background-color: #ffc947;
}
