.dashboard__header {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background-color: #1b3039;
}
.dashboard__header h1,
h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: white;
}
.dashboard__header div {
	color: hsl(0, 0%, 87%);
	font-family: 'Roboto', sans-serif;
}

.event__section::-webkit-scrollbar {
	display: none;
}
.event__section {
	margin-top: 5px;
	max-height: 300px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	max-width: 720px;
	background-color: #1b3039;
}
.event__list {
	max-width: 100%;
	padding: 0;
	margin: auto;
	list-style-type: none;
	border: 0.1rem solid hsl(0, 0%, 80%);
}
.event__list li {
	padding: 2px;
	margin: 2px;
	background-color: #455a64;
}

.event__item,
.event__item_expanded {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.event__item_expanded {
	background-color: #708690;
	border: none;
}

.expanded__info {
	flex: 0.5;
	flex-basis: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
.expanded__info h6 {
	color: hsla(0, 0%, 100%, 90%);
}
.expanded__info p {
	font-weight: 500;
	color: hsl(0, 0%, 0%);
}

.info-bold {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 4px;
	font-weight: 500;
}

.info-details {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.date__container {
	flex: 0.25;
	text-align: left;
}
.date__container h3 {
	font-family: 'Roboto', sans-serif;
	margin: 3px 0 0 3px;
	padding: 4px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1pt;
	color: hsla(0, 0%, 100%, 90%);
}
.info__container {
	flex: 1;
	text-align: left;
}
.info__container h4,
h5 {
	font-family: 'Roboto', sans-serif;
	padding: 4px;
	margin: 0;
}
.info__container h4 {
	font-family: 'Montserrat', sans-serif;
	color: hsla(0, 0%, 89%, 72%);
	font-weight: 500;
}
.info__container p {
	font-size: 12px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	color: hsla(0, 0%, 100%, 90%);
}

.info__button {
	display: flex;
	flex: 0.12;
	flex-basis: auto;
	justify-content: center;
}
.info__button button {
	background-color: transparent;
	border: 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1pt;
	color: hsla(0, 0%, 100%, 90%);
	border-radius: 6%;
	max-height: 40px;
	min-height: 20px;
	align-self: center;
}
.info__button button:hover {
	cursor: pointer;
	color: hsla(0, 0%, 0%, 89%);
	background-color: hsl(42, 100%, 64%);
}

@media screen and (min-width: 700px) {
	.event__section {
		margin: 5px auto;
	}
	.event__list {
		margin: auto;
	}
}
