.dashboard__header {
	display: flex;
	flex-direction: column;
	background-color: #0039cb;
}
.dashboard__header h1,
h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: white;
}
.dashboard__header h2 {
	font-size: 18px;
	padding: 0.5rem;
}
.dashboard__header div {
	color: hsl(0, 0%, 87%);
	font-family: 'Roboto', sans-serif;
}
.header__text {
	padding: 0.5rem;
	display: flex;
	justify-content: space-around;
}

.navlink__list {
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0 auto;
	max-width: 720px;
}
.navlink__item {
	flex: 1;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.45pt;
	padding: 1rem;
	transition: all 0.25s ease-in;
}
.navlink__item button {
	background-color: transparent;
	border: none;
	color: white;
}
.navlink__item:hover,
.navlink__item button:hover {
	cursor: pointer;
	color: hsla(0, 0%, 0%, 89%);
	background-color: hsl(42, 100%, 64%);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
		0 1px 2px rgba(0, 0, 0, 0.24);
}

.header__nav {
	background-color: transparent;
}
