.activity__list__item {
	padding: 1em;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	border-radius: 3px;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12),
		0 5px 5px rgba(0, 0, 0, 0.24);
	transition: all 0.25s ease-in-out;
}
.activity__list__item__text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3px;
	max-height: 100%;
}
.activity__list__item {
	padding: 4px;
}
.activity__list__item__header {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	padding: 5px;
	text-align: left;
}
.activity__list__item__header span {
	margin: 2px;
}

p.date__text {
	margin: 0;
	background-color: hsl(231, 100%, 59%);
	border-radius: 4px;
	padding: 4px;
	color: rgba(255, 255, 255, 0.84);
	width: fit-content;
}
.activity__list__item__header h2 {
	color: #000000;
	font-size: 18px;
	font-weight: 500;
	transition: all 0.25s ease-in;
	margin: 0;
	padding: 0;
}
.activity__list__item__header label {
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.6);
	margin: 0;
	padding: 0;
	display: block;
}
.description__text {
	flex: 2;
	align-self: flex-start;
	color: rgba(0, 0, 0, 0.9);
	max-height: 60px;
	overflow: auto;
	margin: 6px 4px;
	padding: 2px;
	word-wrap: break-word;
	font-size: 12px;
}

.description__text::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

.description__text::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

.description__text::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}

.activity__list__item:hover {
	box-shadow: 0 10px 18px rgba(0, 0, 0, 0.12),
		0 10px 18px rgba(0, 0, 0, 0.24);
}
.activity__list__item:hover h2 {
	color: #0026ca;
}

.expanded__activity {
	background-color: #fff;
	position: relative;
	max-width: 320px;
	min-width: 300px;
	top: 25vh;
	height: fit-content;
	padding: 12px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
}
.expanded__activity__header {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;

	padding: 10px;
	text-align: left;
	background-color: #29434e;
}
.expanded__activity__header h3,
h4 {
	margin: 0;
	color: #fff;
	letter-spacing: 1pt;
}
.expanded__activity__header h4 {
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: 2pt;
}
.activity__card__text {
	text-align: left;
	padding: 10px;
}
.date__text {
	color: #000;
	padding: 0;
	font-weight: 500;
}

.subtext,
.sub_p {
	letter-spacing: 1pt;
}
.sub_p {
	font-size: smaller;
	color: rgba(0, 0, 0, 0.5);
	padding: 0;
	margin-bottom: 3px;
}
.act__btn__ctn {
	display: flex;
	justify-content: flex-start;
	align-self: end;
	margin: 10px 0;
}
.act__btn__ctn button {
	flex: 0.25;
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1pt;
	font-size: 16px;
	font-weight: 500;
	color: hsl(231, 100%, 59%);
	padding: 4px 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
		0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.25s ease-in-out;
}

.act__btn__ctn button:hover {
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25),
		0 5px 5px rgba(0, 0, 0, 0.22);
}
