.App {
	text-align: center;
}

.header {
	top: 0;
	background-color: #1c313a;
	padding: 1rem;
}

.header h1,
.header p {
	padding: 0.25rem;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: white;
}
.header p {
	font-size: 0.7rem;
}

p {
	word-wrap: normal;
	word-break: break-all;
}

a {
	text-decoration: none;
}
a:visited {
	color: white;
}
