.login__container {
	max-width: 450px;
	margin: auto;
}

.login__form,
.input__container {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin: auto;
}
.input__container {
	height: 8rem;
	margin-bottom: 2rem;
}

.login__form input {
	text-align: center;
	margin: 0.25rem 0;
}

.login__form button {
	margin-top: 1rem;
}
